# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment
.env

# Spark
.sparkStaging/
metastore_db/
derby.log

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars